# Objects and Data structures

Numbers: numbers can be of two data types: integer or int and floating-point or float which is a decimal. 

Strings: these are contained in single, double, or triple quotes. These are any characters within quotes, most often in the form of letters and words. 

Lists: this is a collective data type that can contain any data type within close brackets [], separating each element by a comma, where each element is indexed and ordered. Lists are mutable such that elements can be reassigned.

Tuples: typles are like lists but they are enclosed in parentheses (). However, contrary to lists, they are immutable, which means you cannot reassign an element. 

Dictionaries: dictionaries are unordered key-value pairs, where a key maps to a value, contained within curly brackets {}. Example: {'key1':100, 'key2':200, 'key3':300}. You access values based on keys, not on the order of the index.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
# example
2**2 / 2 * 2.5 * 2 * 9.25 - 6.25 + 14

100.25

In [3]:
# write here
(4 * 10) / 2 + 5**2 - 12.75 + 68

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [7]:
# 44
# 29
# 34

In [4]:
4 * (6 + 5)

44

In [5]:
4 * 6 + 5

29

In [6]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4? <br>

**Answer => float**

In [8]:
type(3 + 1.5 + 4)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [9]:
# Square root of 100: 
# Hint: 4**0.5

# Exponent

In [10]:
# Square of 6:

In [11]:
100**0.5

10.0

In [12]:
6 ** 2

36

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [13]:
s = 'hello'
# Print out 'e' using indexing
# Hint: print(s[4])

In [14]:
print(s[1])

e

Given the string hello, produce the letter 'o' using indexing.

In [ ]:
s ='hello'
# Print out the 'o'
# hint: print(X[-1])

In [15]:
print(s[-1])

o

Reverse the string 'hello' using slicing:

In [10]:
s ='hello'
# Reverse the string using slicing
# Hint: print(X[::-1])

In [16]:
s[::-1]

'olleh'

## Lists

Append `1` to the `LL` list so that result would be: `[0, 0, 0, 1]`

In [19]:
LL = [0, 0, 0]

In [20]:
LL.append(1)

In [21]:
LL

[0, 0, 0, 1]

Change the third `0` to `8`

In [22]:
LL[2] = 8

In [23]:
LL

[0, 0, 8, 1]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [27]:
list3 = [1,2,[3,4,'hello']]
# Hint: list3[X][X] = 'goodbye'

In [28]:
list3[2][2] = 'goodbye'

In [29]:
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [30]:
list4 = [5,3,4,6,1]
# Hint: theNameOfVariableYouAssigned.sort()

In [31]:
list4.sort()

In [33]:
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [34]:
d = {'simple_key':'hello'}
# Grab 'hello'
# Hint: d['X']

In [35]:
d['simple_key']

'hello'

In [36]:
d = {'k1':{'k2':'Hi'}}
# Grab 'Hi'
# Hint: d['X']['X']

In [37]:
d['k1']['k2']

'Hi'

## Tuples

What is the major difference between tuples and lists?<br><br>

**Ans =>  Tuples are immutable, meaning their elements cannot be changed after they are created, while lists are mutable and can be modified.**

Create a tuple consisting of `1,2, and 3` and assign it to `t`

In [39]:
t = (1, 2, 'and 3')
print(t)

(1, 2, 'and 3')

## Booleans

Look at a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (think about it first before running the cell!)
<br> You only need to run the cell in the following questions.

False

In [41]:
# Answer before running cell
2 > 3

False

False

In [43]:
# Answer before running cell
3 <= 2

False

False

In [45]:
# Answer before running cell
3 == 2.0

False

True

In [47]:
# Answer before running cell
3.0 == 3

True

False

In [49]:
# Answer before running cell
4**0.5 != 2

False

What is the boolean output of the cell block below? (think about it fist and then check by running the cell!)

False

In [50]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

#### Great Job!

---